@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Bogart Trial";
  src: url("../../fonts/Bogart-Medium-trial.ttf");
}

/* === Variables === */

$p-font: "Lato", sans-serif;
$s-font: "Bogart Trial";
$p-color: rgb(242, 241, 237);
$s-color: rgba(19, 20, 28, 1);
$accent-color: linear-gradient(
    5.85deg,
    #42275a -39.75%,
    rgba(218, 205, 255, 0.5) 61.37%
  ),
  #734b6d;
