.icon {
  left: 0;
  top: 0;
  width: 2.25rem;
  height: 2.25rem;
  padding-top: 7px;
  position: absolute;
  text-align: center;
  border-radius: 100%;
  line-height: 1.7rem;
  box-shadow: inset 0 0 0 1px rgba(212, 212, 255, 0.4);
}
