.projects-section {
  padding: 0 2em;
  max-width: 90%;
  color: #fff;
  margin-top: 7em;
  position: relative;

  .section-title {
    font-size: 8em;
    font-weight: 900;
    position: sticky;
    opacity: 0.2;
    top: 70px;
    transform: translate(-50px, 20px);
    letter-spacing: 0.2em;
    line-height: 1.7;
    text-transform: uppercase;
    background: linear-gradient(
        5.85deg,
        #42275a -39.75%,
        rgba(218, 205, 255, 1) 61.37%
      ),
      #734b6d;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  article {
    display: flex;
    flex-direction: column;
    // max-height: 90vh;
    gap: 2em;
    margin: 0 0 15em 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 2em;
    border-radius: 20px;
  }

  .project-article-top {
    display: flex;
    gap: 2em;
    align-items: flex-start;
    flex-direction: row;
    height: 60%;

    .article-image {
      width: 60%;
      height: 50vh;
      opacity: 0.8;
      /* border-radius: 10px; */
    }
  }

  // Description
  .project-description {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    gap: 2em;

    h2 {
      font-size: 3.5em;
      letter-spacing: -1px;
      line-height: 110%;
      font-weight: 400;
      text-transform: lowercase;
      font-family: "Bogart Trial";
    }

    p {
      line-height: 1.5rem;
      font-weight: 100;
      letter-spacing: 0.1em;
    }

    .project-links {
      display: flex;
      gap: 1.5em;
      margin-top: 2em;
    }

    a {
      border-radius: 5px;
      cursor: pointer;
      // font-weight: 500;
      letter-spacing: 0.15em;
      position: relative;
      z-index: 2;
      transition: all 0.1s ease-in-out;

      &.live-button {
        background: $accent-color-2;
        overflow: hidden;
        padding: 0.7em 2em;

        &::after {
          background: #fff;
          content: "";
          height: 155px;
          left: -75px;
          opacity: 0.15;
          position: absolute;
          top: -50px;
          transform: rotate(35deg);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          width: 50px;
          z-index: 1;
        }

        &:hover::after {
          left: 120%;
        }
      }

      &.github-button {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 0.5em;
        gap: 1em;

        .git-icon {
          position: absolute;
          right: -17px;
          bottom: 9px;
        }

        &::after {
          content: "";
          width: 100%;
          position: absolute;
          height: 2px;
          bottom: 0;
          right: left;
          background: $accent-color-2;
          transform: scaleX(0);
          transition: transform 0.15s ease-in-out;
          transform-origin: bottom right;
        }

        &:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      &:hover &.live-button::after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
  }

  // Tools
  .project-tools-container {
    display: flex;
    gap: 5.8em;
    height: 40%;

    .project-tools {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      gap: 2em;

      .tool-list {
        line-height: 2;
        text-transform: capitalize;
        font-weight: lighter;
      }

      h3 {
        position: relative;
        text-transform: capitalize;

        // &::before {
        //   content: "";
        //   position: absolute;
        //   width: 60px;
        //   height: 2px;
        //   top: -10px;
        //   left: 0;
        //   background: $accent-color;
        // }
      }
    }
  }
}
