@import "config";
@import "navbar";
@import "form";
@import "hero";
@import "projects";
@import "icons";
@import "footer";

* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: $p-font;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  // scrollbar-color: $s-color $accent-color $p-color;

  &::selection {
    background-color: $accent-color;
  }
}

body {
  background-color: #13141c;
}

section {
  margin: auto;
}
